﻿@{
	int IdUser = @Context.Session.GetInt32("IdUser") ?? 0;
	string NameUser = @Context.Session.GetString("NameUser") ?? "";
}

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        
        
    </ul>
        
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        <li class="nav-item">
            <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                <i class="fas fa-search"></i>
            </a>
            <div class="navbar-search-block">
                <form class="form-inline">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
		<li class="nav-item">
			@{
				if (IdUser != 0)
				{
                    <a class="nav-link">
						<span class="ml-2 d-none d-lg-inline-block">
							<span>Hello,</span> <span class="text-dark">@NameUser</span>
						</span>
					</a>
				}
				else
				{
					<button class="btn btn-primary btn-lg" id="btn_login">Login</button>
                    //<button class="btn btn-primary btn-lg" id="btn_register">Register</button>
				}
			}
			
        <li class="nav-item">
            @{
                if (IdUser != 0)
                {
                <a class="nav-link" asp-controller="Auth" asp-action="Logout" role="button">
                    <i class="fas fa-power-off"></i>
                </a>
                }
           }
                
        </li>
    </ul>
</nav>
<!-- /.navbar -->

<script>
	$("#btn_login").click(function () {
		//memanggil modal
		$("#myModal_body").empty();
		$("#myModal_body").load("/Auth/Login")
		$("#myModal").modal("show");
	})
</script>