﻿@using Med_Id.web.Services
@inject AuthService authService
@{
    int IdUser = @Context.Session.GetInt32("IdUser") ?? 0;
    int IdRole = @Context.Session.GetInt32("IdRole") ?? 0;
    string NameUser = @Context.Session.GetString("NameUser") ?? "";
    var menus = await authService.MenuAccess(IdRole);
}﻿

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="image d-flex justify-content-center mt-3 pb-1 mb-3 d-flex">
            <div class="image">
                <img src="~/adminlte/dist/img/Logo.png" height="30" width="150" alt="Logo">
            </div>

        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                @foreach (var parent in menus)
                {
                    @if (parent.RoleId == IdRole)
                    {
                        <li class="nav-item">
                            <a class="nav-link active">
                                <i class="@parent.BigIcon"></i>
                                <span class="hide-menu">@parent.Name
                                    
                                </span>
                            </a>

                            @foreach (var child in parent.ListChild)
                            {
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-controller="@child.Name" asp-action="@child.Url">
                                            <i class="@child.BigIcon"></i>
                                            <span class="menu-open">@child.Name</span>
                                        </a>
                                    </li>

                                </ul>
                            }
                        </li>
                    }
                }

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
