﻿@using Med_Id.viewmodels
@using Med_Id.web.Services
@model VMAllDoctor

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="~/adminlte/dist/img/user4-128x128.jpg"
                                 alt="User profile picture">
                        </div>
                        <h3 class="profile-username text-center">@Model.vMDoctors.Fullname</h3>

                        
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title far fa-file-alt mr-1">  Tindakan Medis</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @foreach (var item in Model.tindakanMedis)
                        {
                            <p class="text-muted">
                                - @item.NameTind
                            </p>
                        }
                        <hr>
                    </div>
                 </div>

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title far fa-file-alt mr-1">  Riwayat Praktek</h3>
                    </div>
                    <div class="card-body">
                        @foreach (var item in Model.riwayatLocation)
                        {
                            <p>@item.NameRs, @item.NameLocation</p>
                            <ul class="list-unstyled list-group list-group-horizontal d-flex justify-content-between">
                                
                                <li>
                                    @item.NameSpesial
                                </li>
                                @if (item.Mulai != null && item.Selesai != null)
                                {
                                    <li>
                                        @item.Mulai?.ToString("yyyy") - @item.Selesai?.ToString("yyyy")
                                    </li>
                                }
                                else if (item.Mulai != null && item.Selesai == null)
                                {
                                    <li>
                                        @item.Mulai?.ToString("yyyy") - Sekarang
                                    </li>
                                }
                            </ul>
                            <br />
                        }
                        <hr>
                    </div>
                </div>

                <div class="card card-primary">
                   <div class="card-header">
                        <h3 class="card-title far fa-file-alt mr-1">  Riwayat Pendidikan</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @foreach (var item in Model.educationDoctor)
                        {
                            <p>@item.InstitutionName</p>
                            <ul class="list-unstyled list-group list-group-horizontal d-flex justify-content-between">
                                
                                <li>
                                    @item.Major
                                </li>
                                <li>
                                    @item.EndYear
                                </li>
                            </ul>
                            <br />
                        }
                        <hr>

                    </div>
                </div>
            </div>

            <div class="col-md-9">


                <div class="card card-primary">

                    <div class="card-header">
                        <h3 class="card-title far fa-file-alt mr-1">  About Doctor</h3>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">

                                <div class="post">
                                    <ul class="mr-5 list-unstyled list-group list-group-horizontal d-flex justify-content-between">
                                        <li>
                                            <ul>
                                                @Model.vmNamaPoli.NameSpesialis
                                            </ul>
                                            <ul>
                                                @Model.vmNamaPoli.TahunMulai Tahun Pengalaman
                                                
                                                
                                            </ul>

                                        </li>
                                        <li>
                                            <ul>
                                                <div>
                                                <button type="submit" class="btn btn-primary">Chat Doctor</button>
                                                </div>

                                            </ul>
                                            <ul>
                                                &emsp;Rp. @Model.vmNamaPoli.Price
                                            </ul>
                                            <ul>

                                            </ul>
                                        </li>
                                    </ul>

                                </div>
                                
                                
                            </div>

                        </div>
                    </div>
                </div>
                
                @{
                    string NameRS = "";
                    int count = 0;
                }



                @foreach (var item in Model.locationPraktek)
                {
                    
                    @* .OrderBy(a => a.sortDay).OrderBy(a => a.NameRs) //untuk sorting front end*@
                    @if (NameRS != item.NameRs)
                    {

                        <div class="card card-primary">


                            <div class="card-header">
                                <h3 class="card-title far fa-file-alt mr-1">  Lokasi Paktek</h3>
                            </div>

                            <div class="card-body">

                                <div class="tab-content">

                                    <p> @item.NameRs</p>
                                    <ul class="list-unstyled list-group list-group-horizontal d-flex justify-content-between">

                                        <li>
                                            <ul>
                                                @item.NamaPoli
                                            </ul>

                                            <ul class="far fa-light fa-map nav-icon">
                                                &emsp;@item.Alamat
                                            </ul>

                                        </li>
                                        <li>
                                            <ul>
                                                Konsultasi Mulai
                                            </ul>

                                            <ul>
                                                dari Rp. @item.HargaMulai
                                            </ul>
                                        </li>
                                    </ul>   
                                   
                                </div>
                                
                                <div class="tab-content">
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <!-- we are adding the accordion ID so Bootstrap's collapse plugin detects it -->
                                        <div id="accordion">
                                            <div class="card card-primary">
                                                <div class="card-header">
                                                    <h4 class="card-title w-100">
                                                        <a class="d-block w-100" data-toggle="collapse" href="#collapse_@item.Hari">
                                                            Lihat Jadwal Praktek
                                                        </a>
                                                    </h4>
                                                </div>


                                                <div id="collapse_@item.Hari" class="collapse" data-parent="#accordion">
                                                        @foreach (var atem in Model.locationPraktek)
                                                        {
                                                            @if (item.NameRs == atem.NameRs)
                                                            {
                                                                <div class="card-body">
                                                                    <ul class="list-unstyled list-group list-group-horizontal d-flex justify-">
                                                                        <li>@atem.Hari</li>

                                                                        <li>&emsp;@atem.Mulai - @atem.Selesai</li>
                                                                    </ul>

                                                                </div>
                                                            }
                                                        }
                                                        <div class="card-footer">
                                                            <div>
                                                                <button type="submit" class="btn btn-primary">Buat Janji</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                
                                            </div>


                                        </div>
                                    </div>



                                </div>

                            </div>


                        </div>
                        <!-- /.card -->
                    }
                    
                NameRS = @item.NameRs;
                }
                
            </div>

            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->