﻿@using Med_Id.web.Services
@inject AuthService authService
@{
    int IdUser = @Context.Session.GetInt32("IdUser") ?? 0;
    int IdRole = @Context.Session.GetInt32("IdRole") ?? 0;
    string NameUser = @Context.Session.GetString("NameUser") ?? "";
    var menus = await authService.MenuAccess(IdRole);
}﻿
<!-- Main content -->
                        <div class="container-fluid justify-content-center">
                            <div class="row">
                             @if (IdRole == 0)
                             {
                                 <div class="col-md-3 col-sm-6 col-12">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

                                                    <div class="info-box-content">
                                                        <a class="nav-link" asp-controller="Home" asp-action="Index"></a>
                                                        <span class="menu-open">Home</span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                            </div>

                                            <div class="col-md-3 col-sm-6 col-12">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

                                                    <div class="info-box-content">
                                                        <a class="nav-link" asp-controller="Doctor" asp-action="Index"></a>
                                                        <span class="menu-open">Doctor</span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                            </div>

                                            <div class="col-md-3 col-sm-6 col-12">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

                                                    <div class="info-box-content">
                                                        <a class="nav-link" asp-controller="User" asp-action="Index"></a>
                                                        <span class="menu-open">Pendaftaran</span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                            </div>

                                            <div class="col-md-3 col-sm-6 col-12">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

                                                    <div class="info-box-content">
                                                        <a class="nav-link" asp-controller="Obat" asp-action="Index"></a>
                                                        <span class="menu-open">Obat</span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                            </div>
                             }
                             else if (IdRole != 0)
                             {
                                 @foreach (var parent in menus)
                                {
                                    @if (parent.RoleId == IdRole)
                                    {
                                
                                        @foreach (var child in parent.ListChild)
                                         {
                                             <div class="col-md-3 col-sm-6 col-12">
                                                    <div class="info-box">
                                                        <span class="info-box-icon bg-info"><i class="@child.SmallIcon"></i></span>
                                                        @*<span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>*@

                                                        <div class="info-box-content">
                                                        <a class="nav-link" asp-controller="@child.Name" asp-action="@child.Url"></a>
                                                        <span class="menu-open">@child.Name</span>
                                                        </div>
                                                        <!-- /.info-box-content -->
                                                    </div>
                                                    <!-- /.info-box -->
                                                </div>
                                         }
                                         
                                    }
                                    

                                }
                             }
                           
                            </div>

                </div>
   @*        
@foreach (var parent in menus)
{
    @if (parent.RoleId == IdRole)
    {
        <li class="nav-item menu-open">
            <a class="nav-link">
                <i class="nav-icon fas fa-light fa-folder" data-feather="@parent.BigIcon"></i>
                <span class="hide-menu">@parent.Name</span>
            </a>

        </li>
        @foreach (var child in parent.ListChild)
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="@child.Name" asp-action="@child.Url">
                    <i class="far fa-light fa-file nav-icon"></i>
                    <span class="menu-open">@child.Name</span>
                </a>
            </li>


        }
    }
}*@