﻿@using Med_Id.datamodels
@model MCourier
@{
    //Layout = null;
    ViewData["Title"] = "Create";

}
<div class="card">
    <div class="card-body">
        <h2 class="text-left display-6">@ViewData["Title"]</h2>


        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row a">
                <label for="Name" class="col-sm-4 col-form-label">Name*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
                    <span id="validate_name" class="text-danger"></span>
                </div>
            </div>


            <div class="mb-4 row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Courier" asp-action="Index">Back To List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            Name: {
                required: true,
                minlength: 3,
            }
        },
        messages: {
            Name: {
                required: "Please fill name Courier!",
                minlength: "The Name must consist of at least 3 character!",
            }

        },
        //membuat validasi jika nama kategori sudah ada
		submitHandler: function(form) {
			var dataForm = $(form).serialize();

			var name = $("#Name").val()

			$.ajax({
				url: "/Courier/CheckNameIsExist",
				type: "GET",
				data: { name: name },
				dataType: "JSON",
				success: function(respon) {
					if (respon) {
						$("#validate_name").text("Name Courier is Already Exists")
						return true;
					} else {
						fungsiSubmit(dataForm)
					}
				}
			})
		}
	})
	function fungsiSubmit(dataParam) {
		$.ajax({
			url: "/Courier/Create",
			data: dataParam,
			method: "post",
			dataType: "json",
			success: function(respon) {
				var data = respon.dataRespon
				if (data.success) {
					$("#myModal").modal("hide")
					//toastr.success(data.message)
					//window.location.reload()
					toastr.success(
						data.message,
						'',
                        {
							timeOut : 500,
							fadeOut : 500,
                            onHidden: function() {
								window.location.reload()
							}
						}
					)
				} else {
					//Toast.fire({
					//	icon: "Failed",
					//	title: data.message
					//})
					toastr.error(data.message)
				}
			}
		})
	}
</script>